@use '../../utils/styles/abstracts' as *;

@keyframes halfRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-180deg);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-right: 12.5px;
  margin-bottom: 20px;
  overflow: clip;
  border-radius: 10px;
  
  &_header {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $main-color;
    line-height: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 12.5px;
    border-radius: 10px;
    width: 100%;
  }

  &_title {
    cursor: pointer;
    font-size: $s;
    line-height: 17px;
    font-weight: $weight-bold;
    color: $complementary-text-color;
  }

  &_arrow {
    height: 10px;
    // right: -12.5px;
    &_open {
      animation: halfRotate 0.3s ease-in-out forwards;
      animation-direction: alternate;
    }

    &_container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }

  &_content {
    color: $text-color;
    transition: all 0.3s ease-in-out;
    max-height: 0;
    opacity: 0;
    padding-top: 13px;
    margin-top: 13px;
    overflow: clip;

    &.open {
      position: absolute;
      max-height: 1000px;
      opacity: 1;
      top: 0;
      animation: slideDown 0.3s ease-in-out forwards;
    }

    ul, p {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      font-size: $xs;
      padding-top: 13px;
      margin-top: 13px;
      padding-left: 20px;
      padding-right: 20px;
      width: calc(100% - 20px);
    }

    li {
      font-size: $xs;
      font-weight: $weight-regular;
    }
  }
  // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
}

@media (min-width: 768px) {
  .dropdown {
    &_title {
      font-size: $l;
      line-height: 34px;
    }

    &_content {
      font-size: $l;
      line-height: 26px;

      ul, p {
        font-size: $l;
        line-height: 26px;
      }
    }
  }
}

@media (min-width: 1640px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dropdown {
    max-width: 1440px;
    &_header {
      width: calc(100% - 12.5px);
    }

  }
}