@use '../../utils/styles/abstracts' as *;

@keyframes slide {
  from {
    top: -75%;
  }
  to {
    top: 0;
  }
}

@keyframes toggleHeight {
  from {
    height: 0;
  }
  to {
    height: auto;
  }
}

.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20px;
  border-radius: 10px;
  height: calc(100% + 20px);
  transition:  0.3s ease-in-out;
  
  &_header {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $main-color;
    line-height: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 12.5px;
    border-radius: 10px;
    width: calc(100% - 22.5px);
  }

  &_title {
    cursor: pointer;
    font-size: $s;
    line-height: 17px;
    font-weight: $weight-bold;
    color: $complementary-text-color;
  }

  &_arrow {
    height: 10px;
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
    &_open {
      transform: rotate(-180deg);
      transition: transform 0.3s ease-in-out;
    }

    &_container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &_content {
    position: relative;
    // top: -75%;
    transition: top ease-in-out 0.3s forwards;
    height: 100%;
    .open {
      // animation: slide 0.3s ease-in-out forwards;
      // &:first-child {
        // animation: slide 0.3s ease-in-out forwards;
      // }
      top: O;
      // animation: toggleHeight 0.3s ease-in-out forwards;
      transition: slide ease-in-out 0.3s forwards;
    }
    .close {
      animation: slide reverse 0.3s ease-in-out forwards;
    }

    &_text, &_list {
      position: absolute;
      bottom: -75%;
      width: 100%;
      padding: 13px 20px 19px 20px;
    }

    &_wrapper {
      position: relative;
      // z-index: 1;
      text-align: left;
      color: $text-color;
      overflow: clip;
      align-items: flex-start;
      width: calc(100% - 40px);
      height: 0;
      // overflow: clip;

      transition: height 0.3s ease-in-out;

      will-change: height;

      .open {
        height: auto;
        animation: toggleHeight 0.4s ease-in-out forwards;
        // transition: height 0.3s ease-in-out;
      }

      .close {
        height: 0;
        overflow: clip;
        animation: toggleHeight reverse 0.4s ease-in-out forwards;
      }
    }

    li {
      font-size: $xs;
      font-weight: $weight-regular;
    }
  }
}

@media (min-width: 768px) {
  .dropdown {
    // &:first-of-type{
    //   margin-top: 0;
    // }

    &_title {
      font-size: $l;
      line-height: 34px;
    }

    &_content {
      font-size: $l;
      line-height: 26px;
    }
  }
}

@media (min-width: 1440px) {
  .dropdown {
    &_title {
      font-size: $xl;
    }
  }
}

@media (min-width: 1640px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dropdown {
    max-width: 1440px;
  }
}