@use '../../utils/styles/abstracts' as *;

.sr_only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: clip;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.flat {
  display: flex;
  flex-direction: column;

  &_carousel {
    width: 335px;
    height: 255px;
    border-radius: 10px;
    margin-bottom: 15px;
    overflow: clip;
    
    &_img {
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  &_resume {
    margin-top: 15px;
  }

  &_title {
    font-size: $l;
    font-weight: $weight-medium;
    margin-bottom: 5px;
    color: $main-color;
  }

  &_location {
    font-size: $m;
    font-weight: $weight-medium;
    color: $text-color;
  }

  
  &_tags {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 10px;
    gap: 10px;
    margin-top: 10px
  }

  &_tag {
    justify-content: center;
    align-items: center;
    width: 84px;
    height: 18px;
    font-size: 10px;
    font-weight: $weight-bold;
    color: $complementary-text-color;
    background-color: $main-color;
    border-radius: 5px;
    padding: 3px 30px;
    margin-right: 10px;
  }

  &_host {
    display: flex;
    flex-direction: row;
    align-items: center;

    &_name {
      flex-direction: column;
      text-align: right;
      font-size: $xs;
      font-weight: $weight-medium;
      color: $main-color;
      margin-right: 10px;
    }

    &_portrait {
      width: 100%;
      border-radius: 50%;
      &_wrapper {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }
    }

    &_eval {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 16px;
      margin-bottom: 13px;
    }
  }

  &_rating {
    display: flex;
    flex-direction: row;
    column-gap: 2px;
  }

  &_rate {
    height: 13px;
    &_container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 18px;
      height: 18px;
    }
  }
}

@media (min-width: 768px) {
  .flat {
    &_title {
      font-size: $xxl;
    }

    &_info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &_location {
      font-size: $l;
    }

    &_tags {
      margin-top: 20px;
      margin-bottom: 24px;
    }

    &_tag {
      font-size: $m;
    }

    &_desc {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 75px;
    }

    &_rating {
      width: 196px;
      justify-content: flex-end;
      column-gap: 4px;
    }

    &_rate {
      height: 24px;
      &_container {
        width: 36px;
        height: 36px;
      }
    }

    &_host {
      &_name {
        font-size: $l;
      }

      &_portrait_wrapper {
        width: 64px;
        height: 64px;
      }


      &_eval {
        flex-direction: column-reverse;
        align-items: flex-end;
      }
    }
  }
}
