// .container {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   align-items: center;
//   width: 100vw;
//   overflow-x: clip;
// }

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 1640px) {
  .container {
    align-items:center;
  }
}