@use '../../utils/styles/abstracts' as *;

.dropdown_content {
  &_text, &_list {
    width: 100%;
    font-size: $xs;
    padding: 13px 20px 19px 20px;
    margin-top: -30%;
    // transition: margin-top .4s ease-in-out;
    @include transition(margin-top); 

    &.open {
      margin-top: 0;
    }

    &:not(.open) {
      margin-top: -30%;
    }
  }
}