@use '../../utils/styles/abstracts' as *;

.thumb {
  position: relative;
  display: block;
  width: 100%;
  height: 255px;
  border-radius: 10px;
  
  &_cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  &_title {
    position: absolute;
    font-size: $xs;
    bottom: 15px;
    left: 20px;
    font-weight: $weight-bold;
    margin: 0 20px 20px 20px;
    color: $complementary-text-color;
  }
}