.about_image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.about_image_container {
  position: relative;
  width: 335px;
  height: 111px;
  border-radius: 10px;
  margin-bottom: 15px;
  overflow: clip;
}
.about_image_filter {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}