.about_image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.about_image_container {
  position: relative;
  width: calc(100vw - 20px);
  height: 111px;
  border-radius: 10px;
  margin-bottom: 15px;
  overflow: clip;
}
.about_image_filter {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.sr_only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: clip;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media (min-width: 768px) {
  .about_image {
    -o-object-position: bottom;
       object-position: bottom;
    border-radius: 25px;
  }
  .about_image_container {
    width: calc(100vw - 200px);
    height: 223px;
    border-radius: 25px;
    margin-bottom: 38px;
  }
  .values_container {
    padding-left: 120px;
    padding-right: 120px;
  }
}