@keyframes halfRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-180deg);
  }
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-right: 12.5px;
  margin-bottom: 20px;
  overflow: clip;
  border-radius: 10px;
}
.dropdown_header {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #FF6060;
  line-height: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 12.5px;
  border-radius: 10px;
  width: 100%;
}
.dropdown_title {
  cursor: pointer;
  font-size: 13px;
  line-height: 17px;
  font-weight: 700;
  color: #FFFFFF;
}
.dropdown_arrow {
  height: 10px;
}
.dropdown_arrow_open {
  animation: halfRotate 0.3s ease-in-out forwards;
  animation-direction: alternate;
}
.dropdown_arrow_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown_content {
  color: #000000;
  transition: all 0.3s ease-in-out;
  max-height: 0;
  opacity: 0;
  padding-top: 13px;
  margin-top: 13px;
  overflow: clip;
}
.dropdown_content.open {
  position: absolute;
  max-height: 1000px;
  opacity: 1;
  top: 0;
  animation: slideDown 0.3s ease-in-out forwards;
}
.dropdown_content ul, .dropdown_content p {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-size: 12px;
  padding-top: 13px;
  margin-top: 13px;
  padding-left: 20px;
  padding-right: 20px;
  width: calc(100% - 20px);
}
.dropdown_content li {
  font-size: 12px;
  font-weight: 400;
}

@media (min-width: 768px) {
  .dropdown_title {
    font-size: 18px;
    line-height: 34px;
  }
  .dropdown_content {
    font-size: 18px;
    line-height: 26px;
  }
  .dropdown_content ul, .dropdown_content p {
    font-size: 18px;
    line-height: 26px;
  }
}
@media (min-width: 1640px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dropdown {
    max-width: 1440px;
  }
  .dropdown_header {
    width: calc(100% - 12.5px);
  }
}