@keyframes slide {
  from {
    top: -75%;
  }
  to {
    top: 0;
  }
}
@keyframes toggleHeight {
  from {
    height: 0;
  }
  to {
    height: auto;
  }
}
.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20px;
  border-radius: 10px;
  height: calc(100% + 20px);
  transition: 0.3s ease-in-out;
}
.dropdown_header {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #FF6060;
  line-height: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 12.5px;
  border-radius: 10px;
  width: calc(100% - 22.5px);
}
.dropdown_title {
  cursor: pointer;
  font-size: 13px;
  line-height: 17px;
  font-weight: 700;
  color: #FFFFFF;
}
.dropdown_arrow {
  height: 10px;
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}
.dropdown_arrow_open {
  transform: rotate(-180deg);
  transition: transform 0.3s ease-in-out;
}
.dropdown_arrow_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown_content {
  position: relative;
  transition: top ease-in-out 0.3s forwards;
  height: 100%;
}
.dropdown_content .open {
  top: O;
  transition: slide ease-in-out 0.3s forwards;
}
.dropdown_content .close {
  animation: slide reverse 0.3s ease-in-out forwards;
}
.dropdown_content_text, .dropdown_content_list {
  position: absolute;
  bottom: -75%;
  width: 100%;
  padding: 13px 20px 19px 20px;
}
.dropdown_content_wrapper {
  position: relative;
  text-align: left;
  color: #000000;
  overflow: clip;
  align-items: flex-start;
  width: calc(100% - 40px);
  height: 0;
  transition: height 0.3s ease-in-out;
  will-change: height;
}
.dropdown_content_wrapper .open {
  height: auto;
  animation: toggleHeight 0.4s ease-in-out forwards;
}
.dropdown_content_wrapper .close {
  height: 0;
  overflow: clip;
  animation: toggleHeight reverse 0.4s ease-in-out forwards;
}
.dropdown_content li {
  font-size: 12px;
  font-weight: 400;
}

@media (min-width: 768px) {
  .dropdown_title {
    font-size: 18px;
    line-height: 34px;
  }
  .dropdown_content {
    font-size: 18px;
    line-height: 26px;
  }
}
@media (min-width: 1440px) {
  .dropdown_title {
    font-size: 24px;
  }
}
@media (min-width: 1640px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dropdown {
    max-width: 1440px;
  }
}