.sr_only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: clip;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.flat {
  display: flex;
  flex-direction: column;
}
.flat_carousel {
  width: 335px;
  height: 255px;
  border-radius: 10px;
  margin-bottom: 15px;
  overflow: clip;
}
.flat_carousel_img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.flat_resume {
  margin-top: 15px;
}
.flat_title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #FF6060;
}
.flat_location {
  font-size: 14px;
  font-weight: 500;
  color: #000000;
}
.flat_tags {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 10px;
  gap: 10px;
  margin-top: 10px;
}
.flat_tag {
  justify-content: center;
  align-items: center;
  width: 84px;
  height: 18px;
  font-size: 10px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #FF6060;
  border-radius: 5px;
  padding: 3px 30px;
  margin-right: 10px;
}
.flat_host {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flat_host_name {
  flex-direction: column;
  text-align: right;
  font-size: 12px;
  font-weight: 500;
  color: #FF6060;
  margin-right: 10px;
}
.flat_host_portrait {
  width: 100%;
  border-radius: 50%;
}
.flat_host_portrait_wrapper {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.flat_host_eval {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 13px;
}
.flat_rating {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 2px;
       column-gap: 2px;
}
.flat_rate {
  height: 13px;
}
.flat_rate_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
}

@media (min-width: 768px) {
  .flat_title {
    font-size: 36px;
  }
  .flat_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .flat_location {
    font-size: 18px;
  }
  .flat_tags {
    margin-top: 20px;
  }
  .flat_tag {
    font-size: 14px;
  }
  .flat_desc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 75px;
         column-gap: 75px;
  }
  .flat_rating {
    width: 196px;
    justify-content: flex-end;
    -moz-column-gap: 4px;
         column-gap: 4px;
  }
  .flat_rate {
    height: 24px;
  }
  .flat_rate_container {
    width: 36px;
    height: 36px;
  }
  .flat_host_name {
    font-size: 18px;
  }
  .flat_host_portrait_wrapper {
    width: 64px;
    height: 64px;
  }
  .flat_host_eval {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
}