.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 209px;
  background-color: #000000;
  padding-top: 66px;
  padding-bottom: 58px;
}
.footer_logo_container {
  display: flex;
  justify-content: center;
  width: 33.33%;
}
.footer_copyright {
  width: 33.33%;
  text-align: center;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 12px;
}

@media (min-width: 768px) {
  .footer {
    gap: 30px;
    padding-bottom: 29px;
  }
}