.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  padding: 20px;
  background-color: white;
  z-index: 100;
}
.header_links {
  display: flex;
  font-weight: 500;
  font-size: 12px;
  -moz-column-gap: 26px;
       column-gap: 26px;
}
.header_links a {
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}
.header_links a.active {
  text-decoration: underline;
}

.app_logo {
  width: 100%;
}
.app_logo_container {
  width: 90px;
}

@media (min-width: 375px) {
  .app_logo {
    width: 145px;
  }
}
@media (min-width: 768px) {
  .app_logo {
    width: 100%;
  }
  .app_logo_container {
    width: 210px;
  }
  .header {
    padding: 45px 100px;
  }
  .header:has(ul) ul {
    -moz-column-gap: 57px;
         column-gap: 57px;
  }
  .header ul a {
    font-size: 24px;
    text-transform: initial;
  }
}
@media (min-width: 1640px) {
  .header {
    width: 1440px;
    position: initial;
    padding-left: initial;
    padding-right: initial;
  }
}