.header {
  position: sticky;
  display: flex;
  top: 0;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 27px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.app-logo {
  width: 100%;
}
.app-logo_container {
  width: 145px;
}

ul {
  display: flex;
  font-weight: 500;
  font-size: 12px;
  -moz-column-gap: 26px;
       column-gap: 26px;
}
ul a {
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}
ul a.active {
  text-decoration: underline;
}