.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem 1rem 27px 1rem;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .layout {
    padding: 57px 100px 50px 100px;
  }
}