.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  padding: 1rem 1rem 27px 1rem;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .layout {
    padding: 30px 100px 50px 100px;
  }
}