.location {
  display: flex;
  flex-direction: column;
}
.location_carrousel {
  width: 335px;
  height: 255px;
  border-radius: 10px;
  margin-bottom: 15px;
  overflow: hidden;
}
.location_carrousel_img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.location_title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #FF6060;
}
.location_location {
  font-size: 14px;
  font-weight: 500;
  color: #000000;
}
.location_tags {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 10px;
}
.location_tag {
  justify-content: center;
  align-items: center;
  width: 84px;
  height: 18px;
  font-size: 10px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #FF6060;
  border-radius: 5px;
  padding: 3px 30px;
  margin-right: 10px;
}
.location_host {
  display: flex;
  flex-direction: row;
}
.location_host_name {
  flex-direction: column;
  text-align: right;
  font-size: 12px;
  font-weight: 500;
  color: #FF6060;
  margin-right: 10px;
}
.location_host_portrait {
  width: 100%;
  border-radius: 50%;
}
.location_host_portrait_wrapper {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.location_host_eval {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 13px;
}
.location_rating {
  display: flex;
  flex-direction: row;
}
.location_rate {
  height: 13px;
}