@use '../../utils/styles/abstracts' as *;

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  padding: 20px;
  background-color: white;
  z-index: 100;


  &_links {
    display: flex;
    font-weight: $weight-medium;
    font-size: $xs;
    column-gap: 26px;

    a {
      color: $text-color;
      text-transform: uppercase;
      text-decoration: none;
      &.active {
        text-decoration: underline;
      }
    }
  }
}

.app_logo{
  width: 100%;
  &_container {
    width: 90px;
  }
}

@media (min-width: 375px) {
  .app_logo {
    width: 145px;
  }
}

// Breakpoints
@media (min-width: 768px) {
  .app_logo {
    width: 100%;
    &_container {
      width: 210px;
    }
  }

  .header {
    padding: 45px 100px;

    &:has(ul) {
      ul {   
        column-gap: 57px;
      }
    }

    ul {
      a {
        font-size: $xl;
        text-transform: initial;
      }
    }
  }
}

@media (min-width: 1640px) {
  .header {
    width: 1440px;
    padding-left: initial;
    padding-right: initial;

    &_container {
      display: flex;
      justify-content: center;
    }
  }
}
