@use '../../utils/styles/abstracts' as *;

.header {
  position: sticky;
  display: flex;
  top: 0;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 27px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.app-logo{
  width: 100%;
  &_container {
    width: 145px;
  }
}

ul {
  display: flex;
  font-weight: $weight-medium;
  font-size: $xs;
  column-gap: 26px;
  a {
    color: $text-color;
    text-transform: uppercase;
    text-decoration: none;
    &.active {
      text-decoration: underline;
    }
  }
}

// Breakpoints
@media screen and (min-width: 768px) {
  
}
