@use '../../utils/styles/abstracts' as *;

.header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;

  &:has(ul) {
    ul {   
      column-gap: 26px;
      display: flex;
    }
  }
}

.app_logo{
  width: 100%;
  &_container {
    width: 90px;
  }
}
ul {
  font-weight: $weight-medium;
  font-size: $xs;
  a {
    color: $text-color;
    text-transform: uppercase;
    text-decoration: none;
    &.active {
      text-decoration: underline;
    }
  }
}

@media (min-width: 375px) {
  .app_logo {
    width: 145px;
  }
}

// Breakpoints
@media (min-width: 768px) {
  .app_logo {
    width: 100%;
    &_container {
      width: 210px;
    }
  }

  .header {
    &:has(ul) {
      ul {   
        column-gap: 57px;
      }
    }
  }

  ul {
    font-size: $xl;
    a {
      text-transform: initial;
    }
  }
}

@media (min-width: 1640px) {
  .header {
    width: 1440px;
    padding-left: initial;
    padding-right: initial;

    &_container {
      display: flex;
      justify-content: center;
    }
  }
}
