@use '../../utils/styles/abstracts' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
}

.app_logo{
  width: 100%;
  &_container {
    width: 145px;
  }
}

ul {
  display: flex;
  font-weight: $weight-medium;
  font-size: $xs;
  column-gap: 26px;
  a {
    color: $text-color;
    text-transform: uppercase;
    text-decoration: none;
    &.active {
      text-decoration: underline;
    }
  }
}

// Breakpoints
@media (min-width: 768px) {
  .app_logo {
    width: 100%;
    &_container {
      width: 210px;
    }
  }

  ul {
    column-gap: 57px;
    font-size: $xl;
    a {
      text-transform: initial;
    }
  }
}

@media (min-width: 1640px) {
  .header {
    width: 1440px;
    padding-left: initial;
    padding-right: initial;

    &_container {
      display: flex;
      justify-content: center;
    }
  }
}
