@use '../../utils/styles/abstracts' as *;

.carousel {
  position: relative;
  display: flex;
  overflow: clip;
  height: 255px;
  border-radius: 10px;

  &_image {
    object-fit: cover;
    border-radius: 10px;
    width: calc(100vw - 2 * 10px);
  }

  &_button {
    &_previous, &_next {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      width: 24px;
      height: 24px;
      z-index: 1;
      border: none;
      background-color: transparent;
    }
    &_previous {
      left: 0px;
    }
    &_next {
      right: 0px;
    }
  }
}

@media (min-width: 768px) and (orientation: landscape) {
  .carousel {
    height: 415px;
    max-width: calc(100vw - 2 * 50px);

    &_image {
      width: calc(100vw - 2 * 50px);
      object-fit: cover;
      border-radius: 10px;
    }

    &_button {
      &_previous, &_next {
        width: 120px;
        height: 120px;

        &_arrow {
          width: 80px;
          height: 80px;
        }
      }
    }
  }
}

@media (min-width: 1640px) {
  .carousel {
    max-width: 1440px;
  }
}