@use '../../utils/styles/abstracts' as *;

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 209px;
  background-color: $text-color;
  padding-top: 66px;
  padding-bottom: 58px;


  &_logo_container {
    display: flex;
    justify-content: center;
    width: 33.33%;
  }

  &_copyright {
    width: 33.33%;
    text-align: center;
    color: $complementary-text-color;
    font-weight: $weight-medium;
    font-size: $xs;
  }
} 



@media (min-width: 768px) {
  .footer {
    gap: 30px;
    padding-bottom: 29px;
  }
}