@use './utils/styles/reset.scss';
@use './utils/styles/abstracts' as *;

:root {
  font-family: 'Montserrat', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

