@use './utils/styles/reset.scss';
@use './utils/styles/abstracts' as *;

/* montserrat-latin-ext-wght-normal */
:root {
  font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif !important;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: inherit;
  box-sizing: border-box;
}

ul:not([class]),
ol:not([class]) {
  padding-left: 1.5em;
  list-style: initial;
}

ol:not([class]) {
  list-style: decimal;
} 


